<%= form_for @trip, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :pub_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select(:pub_id, Pub.all, :id, :name) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :date_date, 'Date', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :date_date, 
                       :value => @trip.date_date.strftime('%d/%m/%Y'), 
                       :class => 'datepicker' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :date_time, 'Time', :class =>'control-label' %>
    <div class="controls">
      <%= f.text_field :date_time,
                       :value => @trip.date_time.strftime('%H:%M'),
                       :class => 'timepicker' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :order_cutoff_date, 'Order Cutoff Date', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :order_cutoff_date, 
                       :value => @trip.order_cutoff_date ? @trip.order_cutoff_date.strftime('%d/%m/%Y') : '', 
                       :class => 'datepicker' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :order_cutoff_time, 'Order Cutoff Time', :class =>'control-label' %>
    <div class="controls">
      <%= f.text_field :order_cutoff_time,
                       :value => @trip.order_cutoff_time ? @trip.order_cutoff_time.strftime('%H:%M') : '',
                       :class => 'timepicker' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                trips_path, :class => 'btn' %>
  </div>
<% end %>
