<%- model_class = Trip -%>
<div class="page-header">
  <h1>
    <%= @trip.name %>
    <small>
      <%= trip_title @trip %>
    </small>
  </h1>
</div>

<div class="row">
  <div class="span10">
    <% if @trip.attendees.empty? %>
      <p class="lead">Looks like no-one is going</p>
    <% else %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Attendees</th>
            <% unless current_user && current_user.attending?(@trip) %>
              <th>
                <%= link_to 'Attend', 
                              trip_attendees_path(@trip),
                              :method => :post,
                              :class => 'btn btn-success btn-mini pull-right' %>
              </th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @trip.attendees.each do |attendee| %>
            <tr>
              <td>
                <%= display_name @trip, attendee.user %>
                <% if attendee.user.organising? @trip %>
                  <span class="label label-info">Organiser</span>
                <% end %>
              </td>
              <td>
                <% if attendee.order %>
                  <%= link_to 'View Order', trip_order_path(@trip, attendee.order) %>
                <% elsif orders_allowed?(@trip) && attendee.user == current_user %>
                  <%= link_to 'Place an Order', new_trip_order_path(@trip) %>
                <% end %>
              </td>
              <td style="text-align: right">
                <% if attendee.user == current_user %>
                  <%= link_to 'Stop Attending', 
                              trip_attendee_path(@trip, attendee),
                              :method => :delete,
                              :confirm => 'Are you sure?',
                              :class => 'btn btn-danger btn-mini' %>
                <% end %>
              </td>
            </tr>
          <% end %>
          <tr>
            <td>
              <%= "#{@trip.attendees.count} #{'attendee'.pluralize(@trip.attendees.count)}" %>
            </td>
            <td>
              <%= link_to "#{number_of_orders @trip} #{'order'.pluralize(number_of_orders @trip)}", trip_orders_path(@trip) %>
            </td>
            <td>
            </td>
        <tbody>
      </table>
      <% end %>
  </div>
</div>

<% if current_user && current_user.organising?(@trip) %>
  <div class="form-actions">
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_trip_path(@trip), :class => 'btn' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                trip_path(@trip),
                :method => 'delete',
                :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                :class => 'btn btn-danger' %>
  </div>
<% end %>
