<%- model_class = Trip -%>
<div class="page-header">
  <h1>
    <%= @trip.name %>
    <small>
      <%= "#{@trip.date.strftime '%d/%m/%Y %H:%M'} at #{@trip.pub.name}" %>
    </small>
  </h1>
</div>

<div class="row">
  <div class="span10">
    <% if @trip.attendees.empty? %>
      <p class="lead">Looks like no-one is going</p>
    <% else %>
      <table class="table">
        <% @trip.attendees.each do |attendee| %>
          <tr>
            <td><%= attendee.user.email %></td>
            <td style="text-align: right">
              <% if attendee.user == current_user %>
                <%= link_to 'Stop Attending', 
                            trip_attendee_path(@trip, attendee),
                            :method => :delete,
                            :confirm => 'Are you sure?',
                            :class => 'btn btn-danger btn-small' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
      <% end %>
  </div>
</div>



<div class="form-actions">
  <% unless @trip.users.include? current_user %>
    <%= link_to 'Attend', 
                trip_attendees_path(@trip), 
                :method => :post, 
                :class => 'btn' %>
  <% end %>
  <%= link_to t('.back', :default => t("helpers.links.back")),
              trips_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_trip_path(@trip), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              trip_path(@trip),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
