<%= form_tag sessions_path do %>
  <div class="field">
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email] %>
  </div>
  <div class="field">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
  <div class="field">
  	<%= label_tag :remember_me do %>
    	<%= check_box_tag :remember_me, 1, params[:remember_me] %> Remember Me
    <% end %>
    
  </div>
  <div class="actions"><%= submit_tag "Log in", :class => 'btn'%></div>
<% end %>
Don't have an account? <%= link_to "Sign Up", signup_path %>