<h1 class="page-header">Groups you own</h1>
<% if @groups.any? %>
  <table id="owned" class="table">
    <thead>
      <tr>
        <th><%= "Name" %></th>
      </tr>
    </thead>
    <tbody>
      <% @groups.each do |group| %>
        <tr>
          <td><%= link_to group.name, group %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="lead">You don't own any groups right now.</p>
<% end %>
<%= link_to 'Create a Group', new_group_path, :class => 'btn' %>

<h1 class="page-header">Groups you belong to</h1>
<% if @membered_groups.any? %>
  <table id="belongs" class="table">
    <thead>
      <tr>
        <th><%= "Name" %></th>
      </tr>
    </thead>
    <tbody>
      <% @membered_groups.each do |group| %>
        <tr>
          <td><%= link_to group.name, group %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="lead">You don't belong to any groups right now.</p>
<% end %>