<%= form_for @user do |f| %>
  <legend>Sign Up for Pub Trip</legend>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Account creation is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="control-group">
    <%= f.label :email %>
    <%= f.text_field :email %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="form-actions">
    <%= f.submit :class => 'btn' %>
  </div>
<% end %>