<%= form_for [@order.attendee.trip, @order.attendee, @order], :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :attendee, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :attendee, 
                       :class => 'number_field', 
                       :value => "#{@order.attendee.user.name}",
                       :disabled => true %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :notes, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :notes, :class => 'text_area' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                orders_path, :class => 'btn' %>
  </div>
<% end %>
