<%- model_class = Pub -%>
<div class="page-header">
  <h1>
    <%= @pub.name %>
    <% unless @pub.menu_groups.empty? %>
      <small><%= link_to "View the menu", menu_url(@pub) %></small>
    <% end %>
  </h1>
</div>

<p class="lead">
  <% if @pub.trips.upcoming.empty? %>
    There are no upcoming trips arranged to this pub right now.
  <% else %>
    Upcoming trips to <%= @pub.name %>
    <table class="table table-striped">
      <tbody>
        <% @pub.trips.upcoming.each do |t| %>
          <tr>
              <td><%= t.name %></td>
              <td><%= t.date %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</p>
